<!--
  Generated template for the Talk page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Talk</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngIf="talk">
    <ion-card-header color="light">
      <h2 text-wrap>{{talk.contents.title}}</h2>
      <p>{{talk.start}} - {{talk.end}} <ion-badge item-right>{{talk.contents.tags.Language[0]}}</ion-badge></p>
      
    </ion-card-header>
    <ion-card-content>
      <p>{{talk.contents.description}}</p>
    </ion-card-content>
    <ion-item color="light">
      <h2 *ngIf="talk.contents.authors.length > 1">Speakers</h2>
      <h2 *ngIf="talk.contents.authors.length == 1">Speaker</h2>
    </ion-item>

    <ion-card-content *ngFor="let speaker of talk.contents.authors">
      <ion-item>
        <ion-avatar item-left><img src="{{speaker.avatar}}" /></ion-avatar>
        <h2>{{speaker.name}}</h2>
        <p *ngIf="speaker.twitterAccount">@{{speaker.twitterAccount}}</p>        
      </ion-item>

      <ion-card-content>
        {{speaker.description}}
      </ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
